/* monoco-theme: 'vs-light' */

body, .el-tabs__item,.el-table th, .el-table tr, .el-form-item__label, 
.el-dialog__title, .el-input__inner {
    color: #000;
}

body, .el-tabs__nav-wrap::after, .el-table__body-wrapper,.el-table th, 
.el-table tr, .el-dialog, .el-input__inner {
    background: #fff;
}

.el-tabs--card>.el-tabs__header .el-tabs__nav, .el-tabs--card>.el-tabs__header .el-tabs__item.is-active,
.el-tabs--card>.el-tabs__header .el-tabs__item, .el-tabs--card>.el-tabs__header, .editor,
.el-tabs__new-tab, .el-input__inner {
    border-color: #e4e7ed;
}

.el-tabs__nav-wrap::after, .el-table::before { background-color: #e4e7ed; }

.el-table__body tr.current-row>td, .el-table__expanded-cell, 
.el-table__row:hover>td {
    background-color: #fff;
}

.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border-bottom-color: #fff;
}

.el-table td, .el-table th.is-leaf { 
    border-bottom: 1px solid #e4e7ed; 
}

